
<div class="card" style="width: 18rem;">
    <h5 class="card-title">
      <%= friend.first_name %>
      <%= friend.last_name %>
      </h5>
    <p class="card-text">
      <%= friend.email %>
      <br/>
      <%= friend.phone %>
      </p>
    <%= button_to "Destroy this friend", @friend, method: :delete, class:"btn btn-danger", style:"width: 18rem;" %>
    <br/>
    <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-secondary" %>
    <br/>
    <%= link_to "Back to friends", friends_path, class:"btn btn-dark" %>
  </div>
</div>