<% if user_signed_in? %>

  <table class="table table-striped">
    <thead class="thread-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
          <tr>
            <td><%= link_to friend.first_name + ' ' + friend.last_name, friend %> </td>
            <td><%= friend.email %></td>
            <td><%= friend.phone %></td>

            <td><%= link_to 'Edit',edit_friend_path(friend), class: "btn btn-outline-secondary btn-small" %></td>
            <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-small" %></td>
          </tr>
        <% end %>  
      <% end %>
    </tbody>
  </table>

  <%= link_to "+ New friend", new_friend_path, class:"btn btn-success" %>

<% else %>
  <h1>Привет, Амелия!</h1>
  <p>Это первый сайт, который мы сделали вместе!</p>
<% end %>